 <label for="command">
     <h2 class="padding10">Hi admin, Enter Command</h2>
 </label>
 <div class="admin-dashboard">
     <form class="input admin-form" action="" method="post">

         <input class="w70 admin-input" type="text" name="command" placeholder="SELECT * FROM ...">
         <input class="button" type="submit" value="Submit" id='admin-submit'>
     </form>
     <div class="show-all__wrapper">
         <button class="button report-1">Show report about packages</button>
         <button class="button report-2">Show report about contracts</button>
         <button class="button show-all">Show all tables</button>
     </div>
 </div>